.container-fluid{
    margin:0;
    padding: 0;
    height: 100vh;
    width:100vw;
}


header{
    background-color: red;
    height: 15vh;
}
footer{
    background-color: red;
    height: 15vh;
}
nav{
    background-color: yellow;
    height: 20vh;
}
aside{
    background-color: yellow;
    height: 20vh;
}
section{
    background-color: green;
    height: 30vh;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px){
    nav{
        height:50vh;
    }
    section{
        height: 50vh;
    }
}

@media (min-width: 992px){

    header{
        height: 20vh;
    }
    footer{
        height: 20vh;
    }

    nav{
        height:60vh;
    }
    section{
        height: 60vh;
    }
    aside{
        height:60vh;
    }
}